.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#movie .ui-icon { background:  url(../img/movie.png) 50% 50% no-repeat; background-size: 30px 30px; }
#music .ui-icon { background:  url(../img/music.png) 50% 50% no-repeat; background-size: 30px 30px; }
#info .ui-icon { background:  url(../img/info.png) 50% 50% no-repeat; background-size: 30px 30px; }
#janna .ui-icon { background:  url(../img/janna.png) 50% 50% no-repeat; background-size: 30px 30px; }
#cartoon .ui-icon { background:  url(../img/cartoon.png) 50% 50% no-repeat; background-size: 30px 30px; }
.nav-glyphish-example ul li { width: 20% !important }
